.my-comment,.my-post {
	margin: 30px 0;
}

#personal {
	background: var(--be-bg-white);
	padding: 1px 0 0 0;
	animation: fade-in;
	animation-duration: 1.5s;
	-webkit-animation: fade-in 1.5s;
	border-radius: 8px;
	box-shadow: 0 0 0 1px var(--be-shadow);
}

.personal-top {
	background: var(--be-bg-grey-f8);
	height: 50px;
	line-height: 50px;
	margin: 0 1px;
	border-radius: 8px 8px 0 0;
}

.personal-img {
	float: left;
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin: 10px 0 0 15px;
	border-radius: 50%;
}

.personal-img img {
	float: left;
	width: 100%;
	height: auto;
	max-width: 100%;
}

.personal-img i {
	float: left;
	font-size: 22px !important;
	color: var(--be-grey-7);
	margin: 6px 0 0 0;
	padding: 3px;
}

.personal-name {
	float: left;
	margin: 0 0 0 15px;
}

.user-edit-link {
	float: right;
	margin: 0 15px 0 0;
	opacity: 0;
}

.personal-top:hover .user-edit-link {
	opacity: 0.6;
}

.m-personal {
	position: relative;
	overflow: hidden;
	margin: 40px 0;
	border-radius: 2px;
}

.personal-bg {
	position: relative;
	max-height: 260px;
	overflow: hidden;
	border-radius: 5px;
	transform: rotate(0deg);
}

.personal-bg:before {
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: all 0.3s ease 0s;
}

.m-personal:hover .personal-bg:before {
	opacity: 0;
}

.personal-bg img {
	float: left;
	width: 100%;
	height: auto;
	max-width: 100%;
	transition: all 0.2s linear;
}

.m-personal p {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #fff;
}

.m-personal .my-avatar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	pointer-events: none;
}

.m-img {
	margin-left: 37px;
	pointer-events: auto;
}

.my-avatar img {
	float: left;
	width: 74px;
	height: 74px;
	overflow: visible;
	border-radius: 100%;
	border: 2px solid #ececec;
}

.m-name {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	margin-left: 20px;
	pointer-events: auto;
	text-transform: capitalize;
}

.m-name span {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.m-logout a {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #fff;
	padding: 3px 10px;
	border-radius: 5px;
	border: 1px solid #fff;
}

.user-info-t {
	color: #333;
	font-size: 15px;
	font-size: 1.5rem;
	margin: 0 0 10px -15px;
}

.user-info-ico .be {
	font-size: 15px !important;
	font-weight: 400;
	margin: 0 5px 0;
}

.my-info {
	color: #999;
	margin: 0 -15px 15px -15px;
	padding: 0 30px 30px 30px;
	border-bottom: 1px solid var(--be-border-grey);
}

.my-info strong {
	width: 80px;
	color: var(--be-bg-grey-3);
	display: inline-block;
	text-align: justify;
	text-align-last: justify;
	margin: 0 15px 0 0;
	padding: 3px 10px;
}

.my-info-en strong {
	width: 100px;
}

.user-inf-role-vip {
	color: #fa9f7e;
}

.modify-email {
	background: #ffeee9;
	width: 60%;
	font-size: 16px;
	font-size: 1.6rem;
	color: #fa9f7e;
	text-align: center;
	margin: 20px auto;
	padding: 10px;
	border-radius: 8px;
}

.my-post .tc,.my-post .tc a {
	color: #666;
}

.my-comment li,.my-favorite li {
	width: 99%;
	line-height: 37px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	border-bottom: 1px dashed var(--be-border-dashed);
}

.m-number {
	background: #ffeee9;
	color: #fa9f7e;
	font-weight: normal;
	margin-left: 10px;
	padding: 3px 10px;
	border-radius: 30px;
}

.my-posts-li:before {
	background: #afafaf;
	content: "";
	width: 8px;
	height: 8px;
	display: inline-block;
	vertical-align: 5.5%;
	margin: 0 5px 0 0;
	border-radius: 100%;
}

.my-posts-li:hover:before {
	background: #ffdfd3;
}

.my-post td {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border: 1px dashed var(--be-border-dashed);
}

.my-post table {
	border: none;
	margin: 0;
}

#pagination {
	clear: both;
	margin: 0 auto 50px;
	width: 120px;
}

#pagination a {
	display: block;
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
	color: #666;
	border-radius: 38px;
	box-shadow: 0 0 0 1px var(--be-shadow);
}

#pagination a:hover {
	background: #999;
	color: #fff;
}

#loadmore {
	clear: both;
	width: 120px;
	margin: 0 auto;
	padding: 20px;
	display: none;
}

#loadmore a {
}

#personal .navigation {
	display: none;
}

@media only screen and (max-width:900px) {
	.m-logout a {
		bottom: 10px;
		right: 10px;
	}

	.fj {
		display: none;
	}
}

.my-user {
	min-height: 800px;
}

.m-tou p {
	margin: 30px;
}

.m-tou a {
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0 0 1px var(--be-shadow);
}

.m-tou a:hover {
	color: #999;
}

.wpzm-span li {
	line-height: 37px;
	width: 99%;
	border-bottom: 1px dashed #dadada;
}

.wpzm-link {
	float: right;
	color: #999;
}

.all-wpzm-link {
	float: right;
	margin: 10px 0;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #ececec;
}

.wpzm-span .navigation {
	margin: 30px 0;
}

.wpzm-span .navigation a {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 6px 15px;
	border-radius: 2px;
	border: 1px solid #ececec;
}

.favorite-content {
	margin: 30px 0;
}

#usertab {
	position: relative;
	float: left;
}

.resp-tabs-container fieldset {
	padding: 5px 15px;
	margin: 0 0 10px 0;
	border-radius: 2px;
}

.resp-tabs-container {
	clear: left;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
	padding: 15px;
}

h2.resp-tab-active {
	border-bottom: 1px solid #ececec;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}

h2.resp-tab-active i,.resp-tab-active i {
	color: var(--be-grey-3);
}

.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 15%;
}

.resp-vtabs .resp-tabs-list li {
	float: left;
	display: block;
	padding: 12px 12px 12px 14px;
	cursor: pointer;
	float: none;
	margin-top: -1px;
	border-top: 1px solid var(--be-border-grey);
}

.resp-vtabs .resp-tabs-list li:first-child {
	margin-top: 0px;
	border-top: none;
}

.resp-vtabs .resp-tabs-container {
	padding: 0;
	border-left: 1px solid var(--be-border-grey);
	float: left;
	width: 85%;
	min-height: 250px;
	clear: none;
	overflow: hidden;
	border-radius: 0 0 8px 0;
}

@media only screen and (max-width:900px) {
	.resp-vtabs .resp-tabs-container {
		border-radius: 0 0 8px 8px;
	}
}

.resp-vtabs .resp-tab-content {
	border: none;
	word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: var(--be-grey-3);
	margin: -1px -1px 0 -1px;
	padding: 12px 12px 11px 14px;
	border: 1px solid var(--be-border-grey);
	border-right: 1px solid var(--be-bg-white);
}

.resp-vtabs .resp-tab-active:before {
	position: absolute;
	top: 0;
	left: -1px;
	content: "";
	width: 3px;
	height: 49px;
	animation: fade-in;
	animation-duration: 0.5s;
	-webkit-animation: fade-in 0.5s;
	border-left: 3px solid var(--be-bg-btn);
}

.resp-vtabs li.resp-tab-active a {
	display: block;
	color: var(--be-grey-3);
}

.resp-vtabs .resp-tabs-list li.tou-url {
	padding: 0;
}

.resp-vtabs .resp-tabs-list li.tou-url a {
	display: block;
	padding: 12px 12px 12px 14px;
}

.resp-accordion .be-arrowdown {
	float: right;
	color: #999;
	margin-top: 8px;
}

.resp-tabs-container h2 {
	font-weight: normal;
}

.resp-tab-item i,.resp-accordion i {
	margin-right: 5px;
}

.resp-arrow {
	float: right;
	width: 25px;
	height: 25px;
	transition: 0.45s;
	transform-style: preserve-3d;
}

.resp-tab-active .resp-arrow {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}

.my-favorite {
	margin: 20px 0 0 0;
}

.my-favorite .keep-remove-favorite i {
	margin-right: 5px;
	color: #d28300;
}

.user-profile {
	position: relative;
	padding: 0 0 50px;
}

.user-profile .fp {
	font-weight: 700;
	width: 100%;
	padding: 10px;
}

.user-profile .fp label {
	font-weight: 700;
	float: left;
	width: 130px;
	padding: 5px 0;
}

.fp .be-star {
	color: #da6472;
	font-weight: 400;
	vertical-align: 0;
	transform: scale(0.7);
	vertical-align: super;
	display: inline-block;
}

.user-profile .text-input,.user-profile .des-textarea {
	min-width: 280px;
	padding: 5px 10px;
	resize: vertical;
	border: none;
	border-radius: 3px;
	-webkit-appearance: none;
}

.user-profile .text-input:focus,.user-profile .des-textarea:focus {
	background: var(--be-bg-white);
	box-shadow: 0 0 0 1px var(--be-shadow);
}

.user-profile #user_login {
	color: #999;
}

.user-profile .description {
	color: #999;
	font-weight: 400;
	padding: 0 0 0 10px;
}

.user-profile .bind-tip .description {
	color: #da6472;
	font-weight: 400;
	padding: 0 0 0 10px;
}

.user-profile .bind-tip .text-input {
	background: var(--be-bg-white);
	border: 1px solid #da6472;
}

.user-profile .bind-tip.fp label {
	color: #da6472;
}

.form-password {
	position: relative;
}

.form-password .togglepass {
	top: 16px;
	left: 385px;
	font-weight: 400;
}

.del-avatars .mdi {
	margin: 0 10px 0 0;
}

.user-inf-box {
	float: left;
	width: 49%;
}

.display-name-select {
	min-width: 280px;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	-webkit-appearance: none;
}

@media screen and (max-width:600px) {
	.user-profile .text-input,.user-profile .des-textarea {
		min-width: 100%;
	}

	.form-password .togglepass {
		top: 46px;
		left: auto;
		right: 5px;
	}

	.user-profile .fp {
		padding: 5px;
	}

	.user-inf-box {
		float: left;
		width: 100%;
	}
}

.user-profile .bet-btn {
	background: var(--be-bg-white);
	color: var(--be-grey-4);
	margin: 40px 0 0 5px;
	padding: 6px 15px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-appearance: none;
	border: none;
	box-shadow: 0 0 0 1px var(--be-shadow);
}

.user-profile .bet-btn.submit {
	background: var(--be-bg-btn);
	color: var(--be-white);
}

.bet-btn:hover,.user-profile .bet-btn:hover,.bet-btn:hover {
	background: #999;
	color: #fff;
}

.no-avatar {
	color: #999;
	display: inline-block;
	padding: 10px 0 2px 5px;
}

.avatar-size-tip {
	color: #999;
	display: inline-block;
	padding: 0 0 0 10px;
}

.my-gravatar-apply {
	margin: 10px 0 0 0;
}

#userfile {
	background: transparent;
	width: 140px;
	color: #999;
	margin: 0 0 0 10px;
	border: none;
}

.apply-url a {
	background: #f18110;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 3px;
}

.apply-url a:hover {
	background: #666;
}

.form-avatar {
	float: left;
	margin: 10px 66px 50px 4px;
}

.form-avatar img {
	width: 70px;
	height: 70px;
	padding: 2px;
	border-radius: 100%;
	box-shadow: 0 0 0 1px var(--be-shadow);
}

.user-profile .update-avatar {
	margin-top: 5px;
}

.user-profile .del-avatars {
	color: #999;
	display: block;
	padding: 15px 0 10px 5px;
}

.apply-box {
	float: right;
	display: none;
	margin-left: 55px;
}

.apply-url {
	line-height: 80px;
}

.profile-message {
	position: absolute;
	top: -88px;
	left: 0;
	float: left;
	width: 100%;
	height: 33px;
	margin: 0 0 30px 0;
}

.profile-error {
	position: absolute;
	top: 14px;
	left: 0;
	color: #fa9f7e;
	margin-left: 7px;
	padding: 5px 15px;
	background: #ffeee9;
	border-radius: 3px;
}

.profile-error.profile-updated {
	;color: #fff;
	background: #98c1ce;
}

.profile-box {
	padding: 0 15px;
}

.update-user-t {
	font-size: 15px;
	font-size: 1.5rem;
	margin: 50px 0 10px -15px;
}

.user-content {
	font-size: 15px;
	font-size: 1.5rem;
	color: #999;
	margin: 10px 0 -30px 0;
	padding: 0 20px;
}

@media only screen and (max-width:900px) {
	h2.resp-accordion {
		border-bottom: 1px solid #ececec;
		padding: 10px 15px;
	}

	h2.resp-accordion:nth-last-child(2) {
		border-bottom: none;
	}

	h2.resp-tab-active:nth-last-child(2) {
		border-bottom: 1px solid #ececec;
	}

	ul.resp-tabs-list {
		display: none;
	}

	h2.resp-accordion {
		display: block;
	}

	.resp-vtabs .resp-tab-content {
		border-bottom: 1px solid #ececec;
	}

	.resp-vtabs .resp-tabs-container {
		border: none;
		float: none;
		width: 100%;
		min-height: 100px;
		clear: none;
	}

	.resp-accordion-closed {
		display: none;
	}

	.resp-vtabs .resp-tab-content:last-child {
		background: #fff;
	}

	.resp-vtabs .resp-tab-active:before {
		display: none;
	}
}

@media only screen and (max-width:600px) {
	.m-personal {
		margin: 15px 0 20px;
	}

	.personal-bg img {
		width: 180% !important;
		max-width: 180% !important;
		margin: 0 0 0 -25%;
	}

	.m-name {
		left: 110px;
	}

	.form-avatar {
		float: left;
		margin: 10px 20px 20px 2px;
	}

	.user-profile .description {
		padding: 0;
	}
}